<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<bean id="triangle" class="com.model.Triangle">
		<property name="name" value="Triangle Name"></property>
	</bean>

	<bean id="circle" class="com.model.Circle">
		<!-- <property name="name" value="Circle Name"></property> -->
	</bean>


	<bean id="shapeService" class="com.service.ShapeService" autowire="byName"></bean>

	<bean id="square" class="com.model.sub.Square">
		<property name="name" value="Square Name"></property>
	</bean>

	<!-- enable aspects -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<!-- Logging Aspect with annotation -->
	<!-- <bean id="loggingAspect" class="com.aspect.LoggingAspect" ></bean> -->
	<bean id="xmlConfigAspect" class="com.aspect.XMLConfigAspect"></bean>

	<!-- AOP xml config -->
	<aop:config>
		<!-- Marking @Aspect -->
		<aop:aspect id="xmlLogging" ref="xmlConfigAspect">
			<aop:pointcut expression="execution(public String *.get*())"
				id="allGetter" />
			<aop:before method="xmlAdvice" pointcut-ref="allGetter" />
		</aop:aspect>
	</aop:config>
</beans>
